*			text=auto

*.txt		text

# Files that will always have CRLF line endings
*.sln		text eol=crlf
*.vcproj	text eol=crlf
Web.config	text eol=crlf
*.bat		text eol=crlf

# Files that will always have LF line endings
*.sh		text eol=lf
*.js		text eol=lf
*.json		text eol=lf
*.jsx		text eol=lf
*.ts		text eol=lf
*.css		text eol=lf
*.scss		text eol=lf
*.less		text eol=lf
*.html		text eol=lf

# Binary files that won't be touched
*.png		-text
*.jpg		-text
*.jpeg		-text



# ## Assembled from https://github.com/alexkaratarakis/gitattributes

# ## Note: We've changed .js, .json, and .jsx from "text" to "text eol=lf" as
# ##   that's how we have ESLint set up

# * text=auto

# ## SOURCE CODE
# *.bat      text eol=crlf
# *.coffee   text
# *.css      text
# *.htm      text diff=html
# *.html     text diff=html
# *.inc      text
# *.ini      text
# *.js       text eol=lf
# *.json     text eol=lf
# *.jsx      text eol=lf
# *.less     text
# *.od       text
# *.onlydata text
# *.php      text diff=php
# *.pl       text
# *.py       text diff=python
# *.rb       text diff=ruby
# *.sass     text
# *.scm      text
# *.scss     text
# *.sh       text eol=lf
# *.sql      text
# *.styl     text
# *.tag      text
# *.ts       text
# *.tsx      text
# *.vue      text
# *.xml      text
# *.xhtml    text diff=html

# ## DOCKER
# *.dockerignore text
# Dockerfile     text

# ## DOCUMENTATION
# *.ipynb      text
# *.markdown   text
# *.md         text
# *.mdwn       text
# *.mdown      text
# *.mkd        text
# *.mkdn       text
# *.mdtxt      text
# *.mdtext     text
# *.txt        text
# AUTHORS      text
# CHANGELOG    text
# CHANGES      text
# CONTRIBUTING text
# COPYING      text
# copyright    text
# *COPYRIGHT*  text
# INSTALL      text
# license      text
# LICENSE      text
# NEWS         text
# readme       text
# *README*     text
# TODO         text

# ## TEMPLATES
# *.dot        text  diff=astextplain
# *.ejs        text
# *.haml       text
# *.handlebars text
# *.hbs        text
# *.hbt        text
# *.jade       text
# *.latte      text
# *.mustache   text
# *.njk        text
# *.phtml      text
# *.tmpl       text
# *.tpl        text
# *.twig       text

# ## LINTERS
# .csslintrc    text
# .eslintrc     text
# .htmlhintrc   text
# .jscsrc       text
# .jshintrc     text
# .jshintignore text
# .stylelintrc  text

# ## CONFIGS
# *.bowerrc       text
# *.cnf           text
# *.conf          text
# *.config        text
# .babelrc        text
# .browserslistrc text
# .editorconfig   text
# .env            text
# .gitattributes  text
# .gitconfig      text
# .htaccess       text
# *.lock          text
# *.npmignore     text
# *.yaml          text
# *.yml           text
# browserslist    text
# Makefile        text
# makefile        text

# ## HEROKU
# Procfile    text
# .slugignore text

# ## GRAPHICS
# *.ai   binary
# *.bmp  binary
# *.eps  binary
# *.gif  binary
# *.ico  binary
# *.jng  binary
# *.jp2  binary
# *.jpg  binary
# *.jpeg binary
# *.jpx  binary
# *.jxr  binary
# *.png  binary
# *.psb  binary
# *.psd  binary
# # *.svg  text
# *.svg  binary
# *.svgz binary
# *.tif  binary
# *.tiff binary
# *.wbmp binary
# *.webp binary

# ## AUDIO
# *.kar  binary
# *.m4a  binary
# *.mid  binary
# *.midi binary
# *.mp3  binary
# *.ogg  binary
# *.ra   binary

# ## VIDEO
# *.3gpp binary
# *.3gp  binary
# *.as   binary
# *.asf  binary
# *.asx  binary
# *.fla  binary
# *.flv  binary
# *.m4v  binary
# *.mng  binary
# *.mov  binary
# *.mp4  binary
# *.mpeg binary
# *.mpg  binary
# *.ogv  binary
# *.swc  binary
# *.swf  binary
# *.webm binary

# ## ARCHIVES
# *.7z  binary
# *.gz  binary
# *.jar binary
# *.rar binary
# *.tar binary
# *.zip binary

# ## FONTS
# *.ttf   binary
# *.eot   binary
# *.otf   binary
# *.woff  binary
# *.woff2 binary

# ## EXECUTABLES
# *.exe binary
# *.pyc binary

# ## Documents
# *.doc	 diff=astextplain
# *.DOC	 diff=astextplain
# *.docx   diff=astextplain
# *.DOCX   diff=astextplain
# *.pdf binary
# *.PDF binary
# *.rtf	 diff=astextplain
# *.RTF	 diff=astextplain
# *.adoc text
# *.textile text
# *.csv text
# *.tab text
# *.tsv text

# ## Visual Studio
# *.sln        text eol=crlf
# *.csproj     text eol=crlf
# *.vbproj     text eol=crlf
# *.vcxproj    text eol=crlf
# *.vcproj     text eol=crlf
# *.dbproj     text eol=crlf
# *.fsproj     text eol=crlf
# *.lsproj     text eol=crlf
# *.wixproj    text eol=crlf
# *.modelproj  text eol=crlf
# *.sqlproj    text eol=crlf
# *.wmaproj    text eol=crlf

# *.xproj      text eol=crlf
# *.props      text eol=crlf
# *.filters    text eol=crlf
# *.vcxitems   text eol=crlf


# #*.sln       merge=binary
# #*.csproj    merge=binary
# #*.vbproj    merge=binary
# #*.vcxproj   merge=binary
# #*.vcproj    merge=binary
# #*.dbproj    merge=binary
# #*.fsproj    merge=binary
# #*.lsproj    merge=binary
# #*.wixproj   merge=binary
# #*.modelproj merge=binary
# #*.sqlproj   merge=binary
# #*.wwaproj   merge=binary

# #*.xproj     merge=binary
# #*.props     merge=binary
# #*.filters   merge=binary
# #*.vcxitems  merge=binary
