node_modules/
dist/
public/
coverage/
LICENSE
.DS_Store
.gitattributes
.gitignore
.editorconfig
.env
.prettierrc
.prettierignore
package-lock.json
src/routeTree.gen.ts
stats.html
*.php
*.ico
*.jpg
*.png
*.svg
*.txt
*.config
