.imaginghelper-page .prop-list {
  font-size: 0.6rem;
  list-style-type: none;
  padding: 0;
}

.imaginghelper-page .prop-list-item {
  color: rgba(0, 0, 0, 0.7);
}

.prop-list pre {
  padding: 0;
  margin: 0;
}
