{
  "printWidth": 80,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "always"
}
