/***************************/
/* Main Layout             */

//.mousetracker-page {}

.mousetracker-page .viewer-pane {
  height: calc(100vh - 80px);
  margin: 15px 0;
}

.mousetracker-page .viewer-container {
  height: calc(100vh - 90px);
  margin-top: 5px;
  padding: 0;
  overflow: hidden;
}

.mousetracker-page .seadragon-viewer {
  height: 100%;
  width: 100%;
  color: #cccccc;
  background-color: black;
  // cursor: grab; /*default grab pointer*/
}

#overlay1 {
  font-size: 20px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
  pointer-events: auto;
}

#overlay1,
#overlay1 a {
  color: #fff;
  text-shadow: 0 0 4px #000;
}

#overlay1.selected,
#overlay1.selected a {
  color: #f88;
}

#overlay2 {
  font-size: 20px;
  cursor: not-allowed;
  color: #000;
  background: rgba(255, 255, 0, 0.5);
  padding: 20px;
  pointer-events: auto;
}

#overlay3 {
  font-size: 20px;
  cursor: grab;
  color: #000;
  background: rgba(0, 255, 255, 0.5);
  padding: 20px;
  pointer-events: auto;
}

//------------------------------------------------------

// OpenSeadragon viewer element class
.mousetracker-page .openseadragon-canvas {
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// OpenSeadragon viewer element class
.mousetracker-page .openseadragon-container {
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
