code {
  font-size: 80%;
}

/***************************/
/* Main Layout             */

main > .container-fluid {
  padding: 50px 15px 0;
}

/*
.footer {
	background-color: #f5f5f5;
}

.footer > .container {
	padding-right: 16px;
	padding-left: 16px;
}
*/
